@charset "utf-8";
.wenzi {
	font-family: "隶书";
	font-size: 20px;
	color: #000;
	text-align: center;
	text-indent: 0px;
}
.wenzhang {
	font-size: 20px;
	color: #000;
	text-align: left;
	text-indent: 40px;
	font-family: "隶书";
}
a:link {
	color: #006;
	text-decoration: none;
}
a:visited {
	color: #900;
	text-decoration: none;
}
a:hover {
	text-decoration: underline overline;
	background-color: #999;
}
a:active {
	text-decoration: none;
	background-color: #C69;
}
